{namespace s=AOE\SchedulerTimeline\ViewHelpers}

<div class="details">

	<div class="details-headline {log.status}">
		<h3 title="{log.uid}">{log.task.title}</h3>
	</div>

	<div class="details-content">
		<f:if condition="{log.task.taskObject.additionalInformation}">
			<p>[{log.task.taskObject.additionalInformation}]</p>
		</f:if>

		<table>
			<tr>
				<td class="label">Status:</td><td><div class="status"><s:status status="{log.status}"/></div></td>
			</tr>
			<tr>
				<td class="label">Timespan:</td><td>{log.timespan}</td>
			</tr>
			<tr>
				<td class="label">Duration [h:m:s]:</td><td><s:duration duration="{log.duration}" /></td>
			</tr>
			<tr>
				<td class="label">Process id:</td><td>{log.processid}</td>
			</tr>
			<f:if condition="{log.exception}">
				<tr>
					<td class="label" colspan="2"><h4>Exception: {log.exception.message}</h4></td>
				</tr>
				<tr>
					<td colspan="2">
						<div class="exception">
							<pre>{log.exception.stacktrace}</pre>
						</div>
					</td>
				</tr>
			</f:if>
			<f:if condition="{log.returnmessage}">
				<tr>
					<td class="label" colspan="2"><h4>Return message:</h4></td>
				</tr>
				<tr>
					<td colspan="2">
						<div class="return-message">
							<pre>{log.returnmessage}</pre>
						</div>
					</td>
				</tr>
			</f:if>
		</table>
	</div>

</div>