<!-- ###FULLDOC### begin -->
<f:be.container includeCssFiles="{0: '{f:uri.resource(path:\'StyleSheet/timeline.css\')}', 1: '{f:uri.resource(path:\'StyleSheet/bars.css\')}'}"
				includeJsFiles="{0: '{f:uri.resource(path:\'JavaScript/jquery-1.6.2.min.js\')}', 1: '{f:uri.resource(path:\'JavaScript/tooltip.js\')}', 2: '{f:uri.resource(path:\'JavaScript/tooltip.dynamic.js\')}', 3: '{f:uri.resource(path:\'JavaScript/common.js\')}'}"
/>

<div class="typo3-fullDoc">
	<!-- Page header with buttons, path details and csh -->
	<div id="typo3-docheader">
		<div class="typo3-docheader-functions">
			<div class="docheader-funcmenu">

			</div>
		</div>
		<div class="typo3-docheader-buttons">
			<div class="buttonsleft">
			</div>
			<div class="buttonsright"><f:be.buttons.shortcut /></div>
		</div>
	</div>
	<!-- Content of module, for instance listing, info or editing -->
	<div id="typo3-docbody">
		<div id="typo3-inner-docbody">
		
			<f:flashMessages queueIdentifier="SchedulerTimeline" />
		
			<f:render section="main" />
		</div>
	</div>
</div>
